h1{
    font-family: 'Bangers', cursive;
    font-size: 60pt;
    font-weight: lighter;
    font-stretch: expanded;
    padding: 10px;
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    letter-spacing: 3px;
}

#lightning{
    width: 50px;
    height: 100px;
}

h2{
    font-style: italic;
    font-size: 30pt;
}

.flash{
    font-family: 'Bangers', cursive;
}

#cw{
    width: 100px;
    height: 50px;
    opacity: 1;
}

#alert{
    font-family:'Bangers', cursive;
    color: rgb(114, 1, 1);
    font-weight: bold;
    letter-spacing: 3px;
}

#spoil{
    font-style: italic;
    font-weight: bold;
    font-size: 22pt; 
}

body{
    background-color: rgba(247, 43, 7, 0.623);
    background-repeat: no-repeat;
    animation-name: body;
    animation-duration: 4s;
    animation-iteration-count: infinite;    
    animation-direction: alternate;    
    color: black;
    font-size: 14pt;
    font-family: 'Dosis', sans-serif;
    display: block;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

@keyframes body {
    from {background-color: rgba(247, 43, 7, 0.623)}
    to {background-color: rgb(255, 230, 0)}
}

#start{
    font-size: 24pt;
    border-radius: 10pt;
    border-width: 0px;
    font-family: 'Bangers', cursive;  
    padding: 20px;  
    background-color: rgb(0, 128, 0);
    color: yellow;
    font-weight: normal;
}

#start:hover{
    transform: rotate(360deg);    
    transition: width 3s, height 3s, transform 3s;    
}

#flashPic{
    width: 200px;
    height: 100px;
    border-radius: 20px;
}

#flashQuiz{
    color: rgb(68, 16, 16);
    margin: auto;
    border-radius: 20px;    
}

#button-container, #choices{
    display: flex;
    justify-content: center;
    max-width: 900px;   
    flex-flow: row wrap;
    align-items: center;
    margin-top: 30px;
}

#button-container button{
    background-color: yellow;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    font-family: 'Bangers', cursive;
    font-size: 24pt;
    border-width: 5px;
    border-color: rgb(68, 16, 16);
    color: rgb(68, 16, 16);
}

#button-container button:hover{
    background-color: rgba(0, 128, 0, 0.514);
}

.question{
    padding: 30px;
    color: rgb(56, 14, 14);
    font-weight: bold;
    font-size: larger;
}

#choices{
    align-items: baseline;
}

#answer{
    margin-left: 20px;
}

@keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
}
  

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: rgba(68, 16, 16, 0.664);
    border: none;
    color: rgb(56, 14, 14);
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    border-radius: 10px;
}

input:hover {
    background: rgb(39, 155, 39);
}

input:checked {
    background: rgb(39, 155, 39);
}

input:checked::before {
    height: 10px;
    width: 10px;
    position: absolute;
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
    content: url("https://lh3.googleusercontent.com/fNxm5nXkoG-TKouROZvNTtBpuLvXqUZjMlK4G4njqzHtE9yGD6LxAVvROfyXLdtavXS9qvUm6fzpu3d0RHew3YO4O9-jB2Hd3efKRCozLKF41Iph0qroHElFWL4SK8ygZ84KSHvQh-sRp_zeRQNqBfzjLFXiDa0mHW_2DNfaTwpFdQhZiXAWr20sgsdpc_Y9k51Ev6qc97Hix8EACtSM48cvFrZb2MKcCOErcOSx7RghkMz9Q_15tnzpxHVj-b8LoRBko5KzrIUEHyPYje8IzM1_LrmOWoBgsWN1xeDtUBm13KpltrtpVw7J5FS7N2OCAcblwx5nh7wx17CxB4-4yr7H4h3TAnoU9QjwxCOarJF421wV34STeQNeiECeh-33YmdgcRN5HYmKqs8Q_UTAWc_trW2BHijfINf4tT_5neqJaPdsFUB4wH2TQR1Dh99PF2Lcb8M0VsBja4yrGZdKrpdePvfe5c7S-0-tW0ec5Tkn_I1NWBOkiGoausBV_TKRGQldWYq5PYBLE-d4Nhk7QC9DHl3r7KeNgfcPJkfdXU25tVKvzdyANESeV4pIllPtzglKgMqyPAnZ81QS8XQscD3lrWbtLeLcSxPty-4aKqdk3h6uRyZZBNLwQfqQZM_JvGzHpfu0hBqFrNRqL1XOZo7pKJiXR81Np3WTSy6LcFpGf4JU9k2Keph7pR6J_vPa8Br_nfE6SxL3xYJQYg=s675-no"); 
    transform: scale(0.05);
    align-content: center;
}

input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: green;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

input.radio {
    border-radius: 50%;
}

input.radio::after {
    border-radius: 50%;
}

#score{
    font-size: 30pt;
    font-weight: bold;
}

#github{
    height: 50px;
    width: 50px;
    margin-top: 100px;
}

#comment{
  font-weight: bold;
  font-size: 16pt;
  margin-top: 50px;
}

    
      

